@charset "UTF-8";
/* CSS Document */

h2{
	font-size:10pt;
	display:block;
	width:100%;
}

section{
	width:1000px;
	height: auto;
	min-height:400px;
}

th{
	width:100px;
	text-align:left;
}

td{
	width:100px;
}